/* Heading spacing */
h2,
h4,
h5,
h6 {
  margin-top: 1rem;
}

dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

/* Typography */
abbr,
dt {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3,
.lead {
  font-size: 1.25rem;
}

h3 {
  margin-top: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

/* Lists and text blocks */
dl,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

/* Code blocks */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 85%;
}

pre {
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  display: block;
}

pre code {
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  padding: 0;
}
