  <div role="region" class="sidebar">
    <div class="container sidebar-sticky">
<h1>Aloha and <span id="welina"></span>; welcome to <a href="/">Add Homonym</a>, a website by <a class="" style="display:inline;" href="https://ikaikahussey.com">Ikaika Hussey</a></h1>
      <nav>
        

        <ul>
        {% for item in collections.pages %}
        <li>
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
        {% endfor %}
        </ul>


        <br>
        <div style="font-size:small;">
          <a href="/colophon">Colophon</a>
        </div>
      </nav>

      <div style="font-size:80%;">&copy; 2025 Add Homonym All rights reserved</div>
    </div>
  </div>
