  <div role="region" class="sidebar">
    <div class="container sidebar-sticky">
<h1>Aloha and <span id="welina"></span>; welcome to <a href="/">Add Homonym</a>, a website by <a class="" style="display:inline;" href="https://ikaikahussey.com">Ikaika Hussey</a></h1>
      
      
<nav>
  <ul>
    <li><a href="https://ikaikahussey.com">About</a></li>
    <li>
        <a href="/colophon">Colophon</a>
      </li>
      <li>
        <a href="#" id="theme-toggle-btn" class="sidebar-nav-item">
          This is set dynamically
        </a>
      </li>
  </ul>
</nav>

<div>&copy; 2025 Add Homonym. All rights reserved</div>
    </div>
  </div>
