{% extends "default.njk" %}

{% block content %}
<div class="page">
  <h1>Colophon</h1>
  <p>Produced using <a href="https://www.11ty.dev">Eleventy</a>.</p>
  <p>Hosted and distributed via <a href="https://netlify.com">Netlify</a>.</p>
</div>
{% endblock %}
